<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Confirmation</title>
        <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
            margin: 0;
        }

        p {
            margin: 20px 0;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <p>Registration is successful! <a href="/home">Click here</a> to go to home page.</p>
</body>
</html>